.m-header {
    min-height: 800px;
    height: 100vh;
    padding-top: 80px;
    background-color: $very-light-gray;
    overflow: hidden;

    & ._wr {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__content {
        h1 {
            font-weight: 400;
            color: $primary;
        }

        p {
            font-weight: 300;
            color: $grayish-blue;
            margin-top: 20px;
        }

        & .a-button.-main {
            margin-top: 40px;
        }
    }

    &__bgPattern {
        position: absolute;
        z-index: 1;
        left: 40%;
        bottom: 0;
    }

    &__mockups {
        position: absolute;
        z-index: 2;
        bottom: 50%;
        right: 100px;
        transform: translateY(50%);
        width: 350px;
        height: 650px;
    }
}